/* color 
primary - #343a40
secondary - #868e96 



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  color: #343a40;
}
*:focus {
  border: none;
}
.container {
  margin: 15rem auto;
}

.app {
  max-width: 80rem;
  text-align: center;
  display: grid;
  row-gap: 5rem;
}
.current-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.app-input {
  font-size: 2.2rem;
  padding: 2rem 4rem;
}
.location-input {
  border: none;
  width: fit-content;
  font-size: inherit;
  color: #868e96;
  max-width: 10rem;
  text-decoration: none;
}

.location-input:focus {
  /* border-bottom: 3px solid #228be6; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 1px 0px #868e96;
  outline: none;
  border: none;
  background-color: none;
  text-decoration: none;
}

.temp {
  width: 22rem;
}

.weather-icon {
  width: 12rem;
  height: 12rem;
  color: #868e96;
}

.curTemp {
  font-size: 7.5rem;
  font-weight: 500;
}

.temp-range {
  font-size: 2rem;
}

.other-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: flex-start;
  color: #868e96;
}

.other-details div {
  padding: 1 rem 2rem;
}

.other-details--icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1.2rem;
}

.other-val {
  font-size: 3rem;
  color: #343a40;
}
.windspeed,
.precipitation,
.humidity {
  font-size: 1.8rem;
}

/* FORECAST-SECTION */
.forecast {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 13.5rem;
}

.forecast-icon {
  width: 4rem;
  height: 4rem;
  color: #868e96;
}

.forecast-temp {
  font-size: 2.2rem;
}

.forecast-day {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #868e96;
}

.temp-selector {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  gap: 1.5rem;
}
.btn {
  padding: 1rem 2rem;
  background-color: #a5d8ff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  /* border: 4px solid rgb(24, 88, 88); */
  box-shadow: inset 0 0 4px 1.5px #339af0;
}

.f-max-temp,
.f-min-temp {
  color: #343a40;
}
